.ContractUs {
  background-color: rgba(252, 80, 17, 0.877);
  padding: 30px;
}
.ContractUs-Text {
  padding: 50px 50px 0px 0px;
  color: aliceblue;
}
.ContractUs-Text span {
  color: rgb(65, 68, 70);
}
.ContractUs-from {
  padding-top: 5px;
}
