.header {
  background-color: rgb(59, 55, 52);
}
.header-item {
  padding-left: 3px;
  text-decoration: none;
}
.logo {
  border-radius: 140px;
  width: 80px;
  height: 80px;
}
.header-item {
  color: rgb(247, 76, 14);
}
